<a href="https://colab.research.google.com/github/A00081/My_web_project/blob/main/Mon_projet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prise en main de pandas

##etape1

In [21]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import random as rd
import numpy as np
from google.colab import userdata

In [2]:
#Rituel à l'ouverture d'un dataframe
def Rituel(df,nom):
  if (isinstance(df,pd.DataFrame)) & (isinstance(nom,str)):
    print(f"!Yes :)\n{nom} is {pd.DataFrame}")
    print(f"Shape: {df.shape}\n\nType:\n{df.dtypes}\n\nhead:\n{df.head()}\n\n \
            Tail:\n{df.tail()}\n\n Not available or Missing values 'NaN'\n{df.isna().sum()}")
  else:
    print(f"{nom} n'est pas un DataFrame pandas")

In [3]:
patha='https://bit.ly/world-cities-clean'
pathb='https://bit.ly/bitcoin-data'
pathc='https://bit.ly/bitcoin-purchases'
print(patha)
print(pathb)
print(pathc)

https://bit.ly/world-cities-clean
https://bit.ly/bitcoin-data
https://bit.ly/bitcoin-purchases

In [4]:
dfa=pd.read_csv(patha, sep=',', skipfooter=0, engine='python')
dfb=pd.read_csv(pathb, sep=',',skipfooter=2, engine='python')
dfc=pd.read_csv(pathc,sep=',')

In [5]:
#Renommer plusieurs colonnes
Rituel(dfb,'Data_bitcoin')
dfb.rename({'Open*':'Open','Close**':'Close'}, axis=1, inplace=True)
dfb.rename(columns = lambda x: x.replace(' ','_'), inplace=True) #fonction à appliquer aux colonnes

!Yes :)
Data_bitcoin is <class 'pandas.core.frame.DataFrame'>
Shape: (31, 7)

Type:
Date           object
Open*         float64
High          float64
Low           float64
Close**       float64
Volume          int64
Market Cap      int64
dtype: object

head:
          Date    Open*     High      Low  Close**       Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  44841784107  160319484883
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  22482910688  147890525973
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  22903438381  148752956966
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  25521165085  145924199942
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  28714583844  148249907277

             Tail:
           Date    Open*     High      Low  Close**       Volume    Market Cap
26  Dec 19 2019  7277.59  7346.60  7041.38  7202.84  25904604416  130445758713
27  Dec 18 2019  6647.70  7324.98  6540.05  7276.80  31836522778  131754969804
28  Dec 17 2019  6931.32  6964.07  6587.97  6640.52  22363804217  120234244809
29  Dec 16 2019  7153.66  7171.17  6903.68  6932.48  20213265950  125515586952
30  Dec 15 2019  7124.24  7181.08  6924.38  7152.30  16881129804  129481424648

 Not available or Missing values 'NaN'
Date          0
Open*         0
High          0
Low           0
Close**       0
Volume        0
Market Cap    0
dtype: int64

In [6]:
Rituel(dfc,'Data_bitcoin_purchases')

!Yes :)
Data_bitcoin_purchases is <class 'pandas.core.frame.DataFrame'>
Shape: (1000, 3)

Type:
bitcoin address    object
wire amount        object
credit card         int64
dtype: object

head:
                      bitcoin address wire amount          credit card
0  1HeUNvQfhjn8afvjMrMEX5VQB5zy8AacXZ    $2268.82  6759241310493014168
1  18xA8uEzQsEQpyfJWrrLmnu72ut7p2GgeU    $4590.27     6394078189900621
2  1CPLebXd6VKdEmD6xsVByYDbsyhkZ4XzrE    $6160.48     3539006321388994
3  1ESn9zPPwAExS98jqhjkDPd7tGeoevL42u    $6647.19     3560801557252993
4  1JLYsDExCUsEPrN6vNsEgJubJE4xqWtqhp    $3759.40     5349906235596126

             Tail:
                        bitcoin address wire amount          credit card
995  138k9bHDuCABrp62m3jx7qN7GpLmH1tau1    $8777.99     6395533880416383
996  133bMbCx4XumvjzZCctexFdWFtc8AVe92T    $7614.59     5100136128250214
997  1EbNemXSs9jnJuTHg3JFs3sVsCpMVmkZzg    $1710.21  4911312234445162581
998  1ACsxcM3utWGaGtTKBndk7S68KX7bMQCaX    $5240.64  5038080137024268375
999  16PZEa57oL1MEMECPRYf8bwPAttqtuSaVj    $5672.95     4903401043022953

 Not available or Missing values 'NaN'
bitcoin address    0
wire amount        0
credit card        0
dtype: int64

In [7]:
#Créer une colonne de dévises
dfc['Currency']=dfc['wire amount'].str.get(0).astype('category')

In [8]:
dfc['wire amount']=dfc['wire amount'].str.removeprefix('$').astype(float) # manipuler les chaines de caractères avec string

In [9]:
pathd='https://bit.ly/felonies-dataset'
print(pathd)
dfd=pd.read_csv(pathd)

https://bit.ly/felonies-dataset

In [10]:
Rituel(dfd,'Data-Felonies')

!Yes :)
Data-Felonies is <class 'pandas.core.frame.DataFrame'>
Shape: (1000, 3)

Type:
Date of Arrest    object
Age                int64
Convicted         object
dtype: object

head:
        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

             Tail:
          Date of Arrest  Age Convicted
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

 Not available or Missing values 'NaN'
Date of Arrest    0
Age               0
Convicted         0
dtype: int64

In [11]:
#Créer des catégories à partir d'une variable continue comme âge
dfd['group_age']=pd.cut(dfd['Age'],bins=[9,13,20,40,65,99],labels=['Child','Ado','Young','Adultes','Old'])

In [12]:
pivot_sum = pd.pivot_table(dfd, values='Age', index='group_age', aggfunc='count')
print("Somme des revenus par catégorie :")
print(pivot_sum)

Somme des revenus par catégorie :
           Age
group_age
Child       35
Ado         64
Young      233
Adultes    300
Old        368

##Calcules sur les dates

In [13]:
dfd.rename({'Date of Arrest':'DoA'}, axis=1, inplace=True)
dfd['DoA']=pd.to_datetime(dfd['DoA']) #Convertir en format date avec pd.to_datetime

In [14]:
dfd['date']=dfd['DoA'].dt.strftime('%d-%b-%Y') # Extraire des formats de temps avec le module dt

In [15]:
#Créer des catégories 'période' à partir des dates
labels=[f'période_{i+1}' for i in range(4)] #Car range commence toujours par 0
x=lambda a: datetime(year=a, month=1, day=1)
dfd['période']=pd.cut(dfd['DoA'], bins=[x(1968),x(1975),x(1990),x(2005),x(2021)], labels=labels)

In [16]:
#Réordonner les colonnes de mon dataframe
a=dfd.columns.tolist()
a

['DoA', 'Age', 'Convicted', 'group_age', 'date', 'période']

In [17]:
dfd=dfd[[a[0],a[-2],a[-1],a[2],a[1],a[3]]]
dfd.sort_values(by=['DoA']).head(20)

                    DoA         date    période Convicted  Age group_age
423 1968-01-10 02:41:49  10-Jan-1968  période_1        No   23     Young
361 1968-01-13 23:32:59  13-Jan-1968  période_1       Yes   27     Young
98  1968-01-14 21:12:54  14-Jan-1968  période_1        No   41   Adultes
917 1968-01-23 11:50:19  23-Jan-1968  période_1        No   99       Old
406 1968-01-29 01:37:28  29-Jan-1968  période_1       Yes   96       Old
646 1968-03-25 05:25:42  25-Mar-1968  période_1        No   75       Old
286 1968-03-31 11:11:25  31-Mar-1968  période_1        No   87       Old
440 1968-04-04 13:50:48  04-Apr-1968  période_1        No   24     Young
985 1968-04-05 09:57:02  05-Apr-1968  période_1       Yes   31     Young
569 1968-04-20 11:45:29  20-Apr-1968  période_1       Yes   23     Young
83  1968-04-23 20:06:31  23-Apr-1968  période_1       Yes   32     Young
807 1968-05-23 04:23:03  23-May-1968  période_1       Yes   16       Ado
551 1968-05-25 08:07:23  25-May-1968  période_1        No   97       Old
447 1968-06-01 07:57:08  01-Jun-1968  période_1       Yes   25     Young
275 1968-06-08 06:18:26  08-Jun-1968  période_1        No   10     Child
802 1968-07-06 08:34:05  06-Jul-1968  période_1       Yes   61   Adultes
692 1968-07-07 10:44:48  07-Jul-1968  période_1       Yes   12     Child
350 1968-07-16 04:42:32  16-Jul-1968  période_1       Yes   67       Old
781 1968-07-19 11:44:44  19-Jul-1968  période_1        No   28     Young
526 1968-09-10 10:27:03  10-Sep-1968  période_1       Yes   25     Young

#Notions de dictionnaires et encodages

In [18]:
co=['Red','blue','yellow','green']
data=pd.DataFrame(data=[rd.randint(1,3) for _ in range(10)],
                  columns=["col_1"])
list1={i+1:j for i,j in enumerate(co)}
list2={j:i+1 for i,j in enumerate(co)}
#fonction MAP attribut la valeur à la clé (ici les données comprises dans 'col1')
data['col_1'].map(list1)
data['col_1'].map(lambda x: co[x]) # une autre manière de faire avec une fonction

0     green
1    yellow
2      blue
3    yellow
4      blue
5     green
6    yellow
7    yellow
8     green
9     green
Name: col_1, dtype: object